/* ==========================================================================
   Buttons
   ========================================================================== */

.button {
    display: block;

    width: 172px;
    height: 50px;
    padding-top: 15px;

    font-family: $font_montserrat;
    font-size: 15px;

    cursor: pointer;
    text-align: center;
    text-transform: uppercase;

    color: $color_black;
    background-color: $color_gold;
    &:hover {
        color: $color_gold;
        background-color: $color_dark_grey;
    }
    &--hero {
        margin: 85px auto 226px;
    }
    &--best-cuisine {
        margin-top: 44px;
    }
    &--organic-food {
        z-index: 20;

        margin: 44px auto 0;

        border: 1px solid $color_black;
        background-color: transparent;
        &:hover {
            color: $color_white;
            background-color: $color_black;
        }
    }
    &--history {
        margin-top: 50px;
    }
    &--reservation {
        margin: 50px auto 0;
        padding-top: 5px;

        border: 0;
        .reservation-info & {
            padding-top: 15px;
        }
        &:hover {
            color: $color_gold;
            background-color: $color_white;
            border: 1px solid $color_gold;
        }
    }
    &--subscribe {
        border: 0;
        padding-top: 5px;
    }
}
