/* ==========================================================================
   Forms
   ========================================================================== */

.reservation-form {
    &__form {
        width: 870px;
        margin: 0 auto;
        margin-top: 80px;

        @include media ('<=phone') {
            width: 100%;
        }
    }
    &__fieldset {
        display: flex;
        flex-direction: row;

        width: 100%;

        border: 0;

        justify-content: space-between;
        @include media ('<=phone') {
            flex-direction: column;
        }
    }
    &__field {
        position: relative;

        @include media ('<=phone') {
            margin-bottom: 20px;
        }
    }
}

.reservation {
    &__input {
        width: 270px;
        height: 50px;
        padding-left: 24px;

        color: $color_white;
        border: 1px solid $color_gold;
        background-color: transparent;
    }
    &__time {
        //left: 0;
    }
    &__data {
        //left: 25%;
        //transform: translate(-75%);
    }
    &__number {
        //left: 22px;
    }
}

.newsletter {
    &__form {
        display: flex;
        flex-direction: row;

        width: 470px;
        margin: 100px auto 0;

        justify-content: space-between;
        @include media ('<=phone') {
            flex-direction: column;

            width: 100%;

            align-items: center;
        }
    }
    &__email {
        width: 268px;
        height: 50px;
        padding-left: 15px;

        color: $color_black;
        border: 1px solid $color_black;

        @include media ('<=phone') {
            margin-bottom: 20px;
        }
    }
}






.f-form {
    fieldset {
        margin: 0;
        padding: 0;

        border: 0;
    }
    input,
    textarea,
    select {
        border-radius: 0;
        box-shadow: none;
        &:focus {
            outline: none;
        }
    }
    textarea {
        min-height: $size_btn*5;
        max-height: $size_btn*10;
        padding: $size_gutter;

        resize: vertical;
    }
    input:-webkit-autofill,
    textarea:-webkit-autofill,
    select:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px white inset;
    }
    *::-ms-clear {
        display: none;
    }
    .f-input-wrapper,
    .f-select-wrapper,
    .f-textarea-wrapper {
        position: relative;

        cursor: pointer;
    }
    .f-input-wrapper,
    .f-textarea-wrapper {
        @extend %helper--flex--stretch;
        input::-webkit-input-placeholder,
        textarea::-webkit-input-placeholder {
            color: currentColor;
        }
        input:-moz-placeholder,
        textarea:-moz-placeholder {
            color: currentColor;
        }
        input::-moz-placeholder,
        textarea::-moz-placeholder {
            color: currentColor;
        }
        input:-ms-input-placeholder,
        textarea:-ms-input-placeholder {
            color: currentColor;
        }
        input,
        textarea {
            width: 100%;

            border: none;
            background: transparent;
        }
    }
    .f-input-wrapper {
        input {
            width: 100%;
            height: $size_btn;
            // padding: 0 calc(#{$size_btn} + #{$size_gutter} - 8px) 0 $size_gutter;
        }
    }
    .f-textarea-wrapper {
        // textarea {
        //     padding-right: calc(#{$size_gutter} * 2 + 20px );
        // }
    }
    .f-select-wrapper {
        position: relative;

        overflow: hidden;
        select {
            position: relative;
            z-index: 3;

            width: 100%;
            height: $size_btn;
            // padding: 0 calc(#{$size_btn} + #{$size_gutter} - 8px) 0 $size_gutter;

            border: none;
            border-radius: 0;
            background: transparent;

            -webkit-appearance: none;
               -moz-appearance: none;
        }
        select::-ms-expand {
            display: none;
        }
    }
}
