/* ==========================================================================
   Links
   ========================================================================== */

.organic-food__scroll {
    position: relative;
    left: 50%;

    font-size: 15px;

    transform: translate(-50%);
}
