/* ==========================================================================
   Links
   ========================================================================== */

.organic-food__scroll {
    position: relative;
    left: 50%;

    font-size: 15px;

    transform: translate(-50%);
}

.header__navigation__link {
    .header1 & {
        color: $color_white;
    }
    @include media ('<=phone') {
    	font-size: 20px;
    }
}
