/* ==========================================================================
   Lists
   ========================================================================== */

/* ==========================================================================
   Icons section
   ========================================================================== */

.icons {
    &--list {
        display: flex;
        flex-direction: row;

        width: 84px;

        font-size: 15px;

        color: $color_black;

        justify-content: space-between;
        .white-icons & {
            width: 154px;
            margin: 0 auto;

            font-size: 20px;
        }
    }
    &--link {
        &:hover {
            .white-icons & {
                color: $color_gold;
            }
        }
    }
}


.side-icons {
    &__list {
        position: absolute;
        top: 50%;

        display: flex;
        flex-direction: column;

        height: 182px;
        margin-left: 60px;

        transform: translateY(-50%);

        justify-content: space-between;
    }
    &__item {
        position: relative;

        display: block;
        float: left;

        width: 40px;
        height: 40px;

        border: 1px solid $color_black;
        border-radius: 100%;
        &:hover {
            background-color: $color_black; 
            .side-icons__link {
                color: $color_gold;
            }         
        }
    }
    &__link {
        position: absolute;
        top: 50%;
        left: 50%;

        font-size: 15px;

        transform: translate(-50%,-50%);

        color: $color_black;
    }
}
