/* ==========================================================================
   Lists
   ========================================================================== */

/* ==========================================================================
   Icons section
   ========================================================================== */
.header1 {
    &__navigation {
        display: flex;
        flex-direction: row;

        justify-content: space-between;
        align-content: flex-end;
        &__item {
            position: relative;
            top: 50%;

            margin: 0 21px;

            transform: translateY(-25%);
            &:hover {
                box-sizing: border-box;

                border-bottom: 2px solid $color_gold;
                &.header1__navigation__menu {
                    border: 0;
                }
            }
        }
        &__menu {
            top: 29px;
        }
    }
}

.header2 {
    &__navigation {
        display: flex;
        flex-direction: row;

        margin-top: 40px;

        justify-content: space-between;
        &__item {
            position: relative;
            top: 50%;

            height: 32px;
            margin-right: 42px;

            transform: translateY(-25%);
            &:hover {
                box-sizing: border-box;

                border-bottom: 2px solid $color_gold;
            }
        }
    }
}

.header3 {
    &__navigation {
        display: flex;
        flex-direction: row;

        margin-top: 40px;

        justify-content: space-between;
        &__item {
            position: relative;
            top: 50%;

            height: 32px;
            margin-right: 42px;

            transform: translateY(-25%);
            &:hover {
                box-sizing: border-box;

                border-bottom: 2px solid $color_gold;
                &.header3__navigation__item__logo {
                    border: 0;
                }
            }
        }
    }
}

.welcome {
    &__list {
        display: flex;
        flex-direction: row;

        width: 572px;
        height: 100%;

        justify-content: space-between;
        @include media ('<=phone') {
            flex-direction: column;
        }
    }
    &__item {
        display: block;

        width: 270px;
        height: 100%;

        background-color: $color_dark_grey_bg;
    }
}

.icons {
    &--list {
        display: flex;
        flex-direction: row;

        width: 84px;

        font-size: 15px;

        color: $color_black;

        justify-content: space-between;
        .white-icons & {
            width: 154px;
            margin: 0 auto;

            font-size: 20px;
        }
    }
    &--link {
        &:hover {
            .white-icons & {
                color: $color_gold;
            }
        }
    }
}


.side-icons {
    &__list {
        position: absolute;
        top: 50%;

        display: flex;
        flex-direction: column;

        height: 182px;
        margin-left: 60px;

        transform: translateY(-50%);

        justify-content: space-between;
        @include media ('<=phone') {
            top: 150px;
            left: 50%;

            flex-direction: row;

            margin: 0;

            transform: translate(-50%);
        }
    }
    &__item {
        position: relative;

        display: block;
        float: left;

        width: 40px;
        height: 40px;

        border: 1px solid $color_black;
        border-radius: 100%;

        @include media ('<=phone') {
            margin: 0 7px;
        }
        &:hover {
            border-color: $color_gold;
            .side-icons__link {
                color: $color_gold;
            }
        }
    }
    &__link {
        position: absolute;
        top: 74%;
        left: 71%;

        width: 100%;
        height: 100%;

        font-size: 15px;

        transform: translate(-50%,-50%);

        color: $color_black;
    }
}

.ocd {
    &__chefs-list {
        display: flex;
        flex-direction: row;

        margin-top: 102px;

        justify-content: space-between;
    }
    &__chef {
        width: 272px;

        text-align: center;
    }
    &__chef-name {
        margin-top: 50px;

        font-family: $font_montserrat;
        font-size: 16px;
        font-weight: bold;

        text-transform: uppercase;

        color: $color_white;
    }
    &__chef-role {
        font-size: 15px;
        line-height: 15px;

        color: $color_gold;
    }
    &__chef-description {
        padding: 0 25px;

        font-size: 15px;

        color: $color_white;
    }
}

.ocl {
    &__chefs-list {
        display: flex;
        flex-direction: row;

        margin-top: 102px;

        justify-content: center;
    }
    &__chef {
        width: 390px;
    }
    &__chef-name {
        margin-top: 50px;

        font-family: $font_montserrat;
        font-size: 16px;
        font-weight: bold;

        text-transform: uppercase;

        color: $color_black;
    }
    &__chef-role {
        margin-top: 5px;

        font-size: 15px;

        color: $color_gold;
    }
}

.icons-chefs {
    &__list {
        position: relative;
        left: 50%;

        display: flex;
        flex-direction: row;

        margin: 50px 0;

        transform: translate(-50%);

        justify-content: space-between;
        .ocd & {
            width: 40%;
        }
        .ocl & {
            width: 25%;
        }
    }
}

.menu {
    &__list--left,
    &__list--right {
        display: flex;
        flex-direction: column;

        height: 642px;

        justify-content: space-between;
    }
    &__item {
        position: relative;

        display: flex;
        flex-direction: row;

        width: 590px;
        &--text-container {
            //position: absolute;
            position: relative;
            z-index: 10;

            display: block;

            width: 454px;
            height: 306px;

            border: 1px solid $color_gold;
            .menu__list--left & {
                right: -120px;

                padding: 56px 0 48px 138px;
            }
            .menu__list--right & {
                right: 0;

                padding: 56px 0 48px 70px;
            }
        }
    }
}

.our-menu {
    &__list {
        display: flex;
        flex-direction: column;

        height: 460px;
        margin-top: 92px;

        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        flex-direction: row;

        width: 554px;

        justify-content: space-between;
    }
}
