/* ==========================================================================
   Lists
   ========================================================================== */

.header {
    &__navigation {
        display: flex;
        flex-direction: row;

        width: 620px;
        padding-top: 10px;

        justify-content: space-between;
        @include media ('<=tablet') {
            display: none;
            &.active {
                position: absolute;
                top: 58px;
                left: -20px;

                display: block;
                flex-direction: column;

                width: 100vw;
                height: 100vh;
                padding: 10px 0 0 32px;

                background-color: rgba(0, 0, 0, .6);
                .header2 & {
                    top: 100px;

                    background-color: rgba(255, 255, 255, .6);
                }
            }
        }
        .header3 & {
            height: 100%;
        }
        &__item {
            height: 28px;

            @include media ('<=tablet') {
                padding: 30px 0;
            }
            &:hover {
                border-bottom: 2px solid $color_gold;
            }
        }
        &__item--logo {
            display: none;
            &:hover {
                border: 0;
            }
            .header3 & {
                display: block;

                @include media ('<=tablet') {
                    display: none;
                }
            }
        }
        &__link {
            font-family: $font_montserrat;
            font-size: 15px;
            font-weight: normal;

            text-transform: uppercase;

            color: $color_white;

            @include media ('<=tablet') {
                font-size: 25px;
            }
            .header2 &,
            .header3 & {
                color: $color_black;
            }
        }
    }
}

.welcome {
    &__list {
        display: flex;
        flex-direction: row;

        width: 572px;
        height: 100%;

        justify-content: space-between;
        @include media ('<=phone') {
            flex-direction: column;

            width: 100%;
        }
        @include media ('>phone','<=1220px') {
            position: absolute;

            width: 100%;
            padding: 0 40px;
        }
    }
    &__item {
        display: block;

        width: 270px;
        height: 400px;

        background-color: $color_dark_grey_bg;

        @include media ('<=phone') {
            width: 100%;
            margin-top: 10px;
        }
    }
}

.icons {
    &--list {
        display: flex;
        flex-direction: row;

        width: 84px;

        font-size: 15px;

        color: $color_black;

        justify-content: space-between;
        .white-icons & {
            width: 154px;
            margin: 0 auto;

            font-size: 20px;
        }
    }
    &--link {
        &:hover {
            .white-icons & {
                color: $color_gold;
            }
        }
    }
}


.side-icons {
    &__list {
        position: absolute;
        top: 50%;

        display: flex;
        flex-direction: column;

        height: 182px;
        margin-left: 60px;

        transform: translateY(-50%);

        justify-content: space-between;
        @include media ('<=tablet') {
            top: 150px;
            left: 50%;

            flex-direction: row;

            margin: 0;

            transform: translate(-50%);
        }
    }
    &__item {
        position: relative;

        display: block;
        float: left;

        width: 40px;
        height: 40px;

        border: 1px solid $color_black;
        border-radius: 100%;

        @include media ('<=tablet') {
            margin: 0 7px;
        }
        &:hover {
            border-color: $color_gold;
            .side-icons__link {
                color: $color_gold;
            }
        }
    }
    &__link {
        position: absolute;
        top: 74%;
        left: 71%;

        width: 100%;
        height: 100%;

        font-size: 15px;

        transform: translate(-50%,-50%);

        color: $color_black;
    }
}

.ocd {
    &__chefs-list {
        display: flex;
        flex-direction: row;

        margin-top: 102px;

        justify-content: space-between;
        @include media ('<=phone') {
            flex-direction: column;

            align-items: center;
        }
    }
    &__chef {
        width: 272px;

        text-align: center;

        @include media ('<=phone') {
            margin-bottom: 45px;
        }
    }
    &__chef-name {
        margin-top: 50px;

        font-family: $font_montserrat;
        font-size: 16px;
        font-weight: bold;

        text-transform: uppercase;

        color: $color_white;
    }
    &__chef-role {
        font-size: 15px;
        line-height: 15px;

        color: $color_gold;
    }
    &__chef-description {
        padding: 0 25px;

        font-size: 15px;

        color: $color_white;
    }
}

.ocl {
    &__chefs-list {
        display: flex;
        flex-direction: row;

        margin-top: 102px;

        justify-content: center;
        @include media ('<=phone') {
            flex-direction: column;

            align-items: center;
        }
    }
    &__chef {
        width: 390px;

        @include media ('<=phone') {
            width: 100%;
        }
    }
    &__chef-name {
        margin-top: 50px;

        font-family: $font_montserrat;
        font-size: 16px;
        font-weight: bold;

        text-transform: uppercase;

        color: $color_black;
    }
    &__chef-role {
        margin-top: 5px;

        font-size: 15px;

        color: $color_gold;
    }
}

.icons-chefs {
    &__list {
        position: relative;
        left: 50%;

        display: flex;
        flex-direction: row;

        margin: 50px 0;

        transform: translate(-50%);

        justify-content: space-between;
        .ocd & {
            width: 40%;
        }
        .ocl & {
            width: 25%;
        }
    }
}

.menu {
    &__list--right {
        @include media ('<=1226px') {
            margin-top: 35px;
        }
    }
    &__list--left,
    &__list--right {
        display: flex;
        flex-direction: column;

        height: 642px;

        justify-content: space-between;
        @include media ('<=1226px') {
            height: 100%;
        }
    }
    &__item {
        position: relative;

        display: flex;
        flex-direction: row;

        width: 590px;

        @include media ('<=1226px') {
            flex-direction: column;

            width: 100%;
            margin-bottom: 175px;
        }
        &--text-container {
            //position: absolute;
            position: relative;
            z-index: 10;

            display: block;

            width: 454px;
            height: 306px;

            border: 1px solid $color_gold;

            @include media ('<=1226px') {
                width: 100%;
                max-width: 454px;

                text-align: center;
            }
            .menu__list--left & {
                right: -120px;

                padding: 56px 0 48px 138px;

                @include media ('<=1226px') {
                    top: 130px;
                    left: 50%;

                    padding: 52px 0;

                    transform: translate(-50%);
                }
            }
            .menu__list--right & {
                right: 0;

                padding: 56px 0 48px 70px;

                @include media ('<=1226px') {
                    top: 130px;
                    left: 50%;

                    padding: 52px 0;

                    transform: translate(-50%);
                }
            }
        }
    }
}

.our-menu {
    &__list {
        display: flex;
        flex-direction: column;

        height: 460px;
        margin-top: 92px;

        flex-wrap: wrap;
        justify-content: space-between;
        @include media ('<=1200px') {
            height: 100%;

            align-items: center;
        }
    }
    &__item {
        display: flex;
        flex-direction: row;

        width: 554px;

        justify-content: space-between;
        @include media ('<=phone') {
            flex-direction: column;

            width: 100%;
            max-width: 364px;
            margin: 10px 0;

            align-items: center;
        }
        @include media ('>phone','<=1220px') {
            flex-direction: row;
        }
    }
}
