/* ==========================================================================
   Logos
   ========================================================================== */

.header1__logo,
.header3__logo {
    display: block;

    width: 44px;
    height: 39px;

    background-image: url(../img/header-logo.png);
}


.header2__logo {
    display: block;

    width: 117px;
    height: 62px;
    margin: 0 auto;

    background-image: url(../img/header-logo2.png);
}

.header3__logo {
    position: relative;
    top: -9px;
}
