.swiper-container {
    width: 100%;
    min-height: 450px;
}

.swiper-pagination-bullet {
    .best-cuisine & {
        width: 10px;
        height: 10px;
        margin: 0 7px;

        opacity: 1;
        border: 2px solid $color_white;
        background-color: transparent;
    }
}

.swiper-pagination-bullet-active {
    .best-cuisine & {
        width: 12px;
        height: 12px;

        border: 2px solid $color_gold;
        background-color: $color_gold;
    }
}

.swiper-pagination-bullet {
    .best-cuisine & {
        margin: 0 7px;
    }
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet-active {
    .best-cuisine & {
        margin: -1px 7px;
    }
}

.swiper-button-prev,
.swiper-button-next {
    background-image: none;
    color: $color_white;
    font-size: 40px;
    transform: translateY(-50%);
        top: 45%;
}

.swiper-button-prev {
	left: 177px;

}

.swiper-button-next {
	right: 177px;

}
