/* ==========================================================================
   Webfonts
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Average|Montserrat:400,700&subset=latin-ext');

@font-face {
    font-family: 'wild_youthregular';
    src: url('../fonts/wildyouth-regular-webfont.woff2') format('woff2'),
         url('../fonts/wildyouth-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'custom-icons';
  src: url('../fonts/custom-icons.eot?93771138');
  src: url('../fonts/custom-icons.eot?93771138#iefix') format('embedded-opentype'),
       url('../fonts/custom-icons.woff2?93771138') format('woff2'),
       url('../fonts/custom-icons.woff?93771138') format('woff'),
       url('../fonts/custom-icons.ttf?93771138') format('truetype'),
       url('../fonts/custom-icons.svg?93771138#custom-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'custom-icons';
    src: url('../fonts/custom-icons.svg?93771138#custom-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "custom-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-cloud:before { content: '\e800'; } /* '' */
.icon-retweet:before { content: '\e801'; } /* '' */
.icon-left-big:before { content: '\e802'; } /* '' */
.icon-fire:before { content: '\e803'; } /* '' */
.icon-eye:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-font:before { content: '\e806'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-building:before { content: '\f0f7'; } /* '' */
.icon-h-sigh:before { content: '\f0fd'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-stumbleupon-circled:before { content: '\f1a3'; } /* '' */
.icon-heartbeat:before { content: '\f21e'; } /* '' */
.icon-stumbleupon-circled-1:before { content: '\f31f'; } /* '' */