/* ==========================================================================
   Icons
   ========================================================================== */

.customers-quotes__h {
    color: $color_gold;
}

.icon-bell-alt {
    font-size: 35px;

    color: $color_gold;
}

.icon-chefs {
    font-size: 15px;
    .ocd & {
        color: $color_gold;
        &:hover {
            color: $color_white;
        }
    }
    .ocl & {
        color: $color_black;
        &:hover {
            color: $color_gold;
        }
    }
}
