/* ==========================================================================
   Customers
   ========================================================================== */

.customers {
    display: block;

    width: 100%;
    height: 100%;
    padding: 92px 0 100px;

    background-color: $color_white;
}

.customers-quotes {
    &__title {
        font-family: $font_wild_youth;
        font-size: 45px;
        font-weight: normal;

        text-align: center;

        color: $color_gold;
    }
    &__subtitle {
        position: relative;

        font-family: $font_montserrat;
        font-size: 36px;
        font-weight: bold;
        line-height: 36px;

        text-align: center;
        text-transform: uppercase;

        color: $color_black;
        &:after {
            position: absolute;
            top: 50px;
            left: 50%;

            content: url(../img/arrow.png);
            transform: translate(-50%);
        }
    }
    &__quotation {
        width: 744px;
        margin: 80px auto 0;

        font-size: 15px;

        color: $color_black;
    }
    &__name {
    	font-family: $font_montserrat;
        font-size: 16px;
        font-weight: bold;
        line-height: 16px;

        text-align: center;
        text-transform: uppercase;

        color: $color_black;
        margin-top: 105px;
    }
    &__role {
    	color: $color_gold;
    	font-size: 15px;
    	text-align: center;
    	font-weight: normal;
    	margin-top: 14px;
    }
}
