/* ==========================================================================
   Our chefs - light background
   ========================================================================== */

.ocl {
    display: block;

    width: 100%;
    height: 100%;
    padding: 90px 0 42px;

    text-align: center;

    background-color: $color_white;
    &__title {
        font-family: $font_wild_youth;
        font-size: 45px;
        font-weight: normal;

        text-align: center;

        color: $color_gold;
    }
    &__subtitle {
        font-family: $font_montserrat;
        font-size: 36px;
        font-weight: bold;
        line-height: 36px;

        text-align: center;
        text-transform: uppercase;

        color: $color_black;
    }
    &__description {
        font-size: 15px;
        font-weight: normal;

        color: $color_black;
        margin-top: 46px;
    }
}
