/* ==========================================================================
   Our menu
   ========================================================================== */

.our-menu {
    display: block;

    width: 100%;
    height: 100%;
    padding: 84px 0 130px;

    background-color: $color_darker_grey;
    &__title {
        font-family: $font_wild_youth;
        font-size: 45px;
        font-weight: normal;

        text-align: center;

        color: $color_gold;
    }
    &__subtitle {
        font-family: $font_montserrat;
        font-size: 36px;
        font-weight: bold;
        line-height: 36px;

        text-align: center;
        text-transform: uppercase;

        color: $color_white;
    }
    &__description {
        width: 638px;
        margin: 50px auto 0;

        font-size: 15px;
        font-weight: normal;

        text-align: center;

        color: $color_white;
    }
    &__list {
        display: flex;
        flex-direction: column;

        height: 460px;
        margin-top: 92px;

        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        flex-direction: row;

        width: 554px;

        justify-content: space-between;
    }
    &__text-container {
        display: flex;
        flex-direction: row;

        width: 452px;
        margin-top: 20px;

        justify-content: space-between;
    }
    &__description-container {
        &__title {
            font-family: $font_montserrat;
            font-size: 16px;
            font-weight: bold;

            text-transform: uppercase;

            color: $color_white;
        }
        &__description {
            font-size: 15px;
            font-weight: normal;
            line-height: 15px;

            color: $color_gold;
        }
    }
    &__price {
        font-family: $font_montserrat;
        font-size: 16px;
        font-weight: bold;

        color: $color_white;
    }
}
